.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 5rem 0 3.5rem 0;
}

.card {
  background-color: $white;
  width: 100%;
  border-radius: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 2.5rem;

  .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .label-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;

      label {
        color: $grayish-cyan;
        font-size: 1.5rem;
        font-weight: 700;
      }

      .error-message {
        color: indianred;
        font-size: 1.5rem;
        font-weight: 700;
        opacity: 0;
      }

      .show-error-message {
        transition: opacity 1s ease-in-out;
        opacity: 1;
      }
    }

    .input-text {
      color: $very-light-grayish-cyan;
      border: none;
      width: 100%;
      border-radius: 0.5rem;
      color: $very-dark-cyan;
      font-family: "Space Mono", monospace;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: right;
      padding: 0.5rem 2.5rem;

      &:focus {
        outline: none;
        border: 2px solid $strong-cyan;
      }
    }

    .input-wrapper {
      position: relative;

      img {
        position: absolute;
        left: 2.5rem;
        top: 1.5rem;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      .button {
        width: 45%;
        text-align: center;
        color: $white;
        background-color: $very-dark-cyan;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 0.5rem;
        padding: 0.5rem 0;
        transition: all 0.5s ease;

        &:hover {
          background-color: $button-hover;
        }
      }

      .button-active {
        background-color: $strong-cyan;
        color: $very-dark-cyan;
      }

      .input-text {
        width: 45%;
      }
    }
  }

  .output {
    background-color: $very-dark-cyan;
    width: 100%;
    border-radius: 1.5rem;
    padding: 2rem;

    .line-wrapper {
      .line-output {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.5rem 0 2.5rem 0;

        .title {
          color: $white;
          font-weight: 700;
          font-size: 1.5rem;
        }

        .description {
          color: $dark-grayish-cyan;
          font-weight: 700;
          font-size: 1.2rem;
        }

        .value {
          color: $strong-cyan;
          font-weight: 700;
          font-size: 3rem;
        }
      }
    }

    .button {
      width: 100%;
      background-color: $strong-cyan;
      text-transform: uppercase;
      text-align: center;
      color: $very-dark-cyan;
      font-weight: 700;
      font-size: 2rem;
      border-radius: 0.5rem;
      padding: 1rem 0;
      margin-top: 3.5rem;
      transition: all 0.5s ease;

      &:hover {
        background-color: $button-hover;
      }
    }
  }
}
